<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'chatbot.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <title>Chatbot</title>
</head>
<body>
    <section class="idol">
        <div class="idol-1">
            <div class="head">
                <div class="bot-img">
                    <img src="{% static './Images/chartbotlogo.gif' %}" style="height:40px; width:40px; border-radius:50%;">
                </div>
                <div class="bot-name">
                    <h3>Mrs. PIEMR</h3>
                </div>
                <div class="status">
                    <i class="fas fa-circle"></i>
                </div>
            </div>
            <div class="main">
                <div id="chatscreen" class="chat-screen">
                    <div id="bot" class="bot">
                            Hello, shounen my name is Sora <br>
                            May i help you..
                    </div>
                    <div id="user" class="user">
                            hello sora
                    </div>
                </div>
                <div class="keyboard">
                    <div class="query">
                        <form action="/chat/" class="sender">
                            {% csrf_token %}
                            <input class="recieve" type="text" name="query" placeholder="Ask Your Query">
                        </form>
                    </div>
                    <div class="send">
                        <button accesskey="enter" id="send">
                            <i class="fas fa-play"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        
        const chat_screen = document.querySelector("#chatscreen")
        const bot = document.querySelector("#bot")
        const user = document.querySelector("#user")
        //const user_msg =  document.createElement("div")
        const recieve = document.querySelector(".recieve")

        function msg(message, side){
            const msgs = document.createElement('div')
            console.log(message)
            msgs.innerHTML= message
            //msgs.style.display='flex'
            msgs.style.textAlign = side
            if(side=="right"){
                msgs.style.marginLeft="30%"
                msgs.style.float=side
            }
           // msgs.style.backgroundColor = "red"
            msgs.style.width = '70%'
            //msgs.style.clear = 'both'
            chat_screen.append(msgs)
        }

            $(".sender").submit(function(e) {
                e.preventDefault(); // avoid to execute the actual submit of the form.
            
                var form = $(this);
                var url = form.attr('action');
                msg(recieve.value, "right")
                var elem = document.getElementById('chatscreen');
                elem.scrollTop = elem.scrollHeight;
                
                $.ajax({
                       type: "POST",
                       url: url,
                       data: form.serialize(), // serializes the form's elements.
                       success: function(data)
                       {
                        console.log(data['reply'])
                        //var elem = document.getElementById('chatscreen');
                        elem.scrollTop = elem.scrollHeight;
                           msg(data['reply'], "left")
                           console.log('done')
                       }
                       //success: msg(data)
                     });
                    });
        
    </script>
</body>
</html>